.categoryCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    width: 280px;
    padding: 20px;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    cursor: pointer;
    transition: .3s;
}

.categoryCard:hover{
    background-color: #49ccf9;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 10px 25px #49ccf9;
}



.categoryCard img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.categoryCard h4{
    margin-bottom: 50px;
}

.categoryCardButtons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}