body{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}


/* CONTAINER STYLES */

.container{
    max-width: 1280px;
    padding: 80px 20px;
    margin: auto;

}

.card-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1280px;
    padding: 80px 20px;
    margin: auto; 
}


/* BUTTON STYLES */
.btn-primary{
    font-weight: bold;
    background-color: #f7d547;
    box-shadow: 0 10px 25px #f7d54780;
    color: white;
    border: none;
    border-radius: 9px;
    padding: 1em 1.5em;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.btn-primary:hover{
    background-color: #49ccf9;
    box-shadow: 0 10px 25px rgb(73 204 249 / 30%);
    text-decoration: none;
}

.btn-secondary{
    font-weight: bold;
    background-color: #fd71af;
    box-shadow: 0 10px 25px rgb(253 113 175 / 30%);
    color: white;
    border: none;
    border-radius: 9px;
    padding: 1em 1.5em;
    text-decoration: none;
    transition: .3s;
}

.btn-secondary:hover{
    background-color: #7b68ee;
    box-shadow: 0 10px 25px rgb(123 104 238 / 50%);
}

.btn-close{
    color: #7c828d;
    font-size: 22px;
    font-weight: bold;
    transition: .3s;
}

.btn-close:hover{
    color: red;
    cursor: pointer;
}

/* END BUTTON STYLES */

/* FORM STYLES */
.form-primary{
    display:flex;
    flex-direction: column;
    max-width: 600px;
    margin:0 auto;
    padding: 30px 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.form-primary input{
    margin-bottom: 20px;
    padding: 10px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid #f7d547;
}
/* END FORM STYLES */